@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

body{
    background: #777;
}

h1,p, span{
    font-family: 'Roboto', sans-serif;
}

/*Variaveis*/

/*
light mode
*/
:root {
    --background-color:#075E55;
    --main-color:#FFF;
    --sub-color : #aaa;
    --item-message-color:#eee;
    --item-hover-message-color:#ddd;
    --icon-viewed:#555;
    --icon-received:rgb(24, 132, 255);  
    --text-color:#000;

}

/*Dark mode*/
[data-theme="dark"] {
    --background-color:#333;
    --sub-color:#BBB;
    --main-color:#FFF;
    --item-message-color:#222;
    --item-hover-message-color:#333;
    --icon-viewed:#777;
    --icon-received:rgb(24, 132, 255);
    --text-color:rgb(223, 223, 223);  
}

/* Flex Header */
.container {
    max-width: 500px;
    max-height: 1000px;
    margin: 0 auto;
}

.header{
    display: flex;
    background:var(--background-color);
    min-height: 80px;
} 

.icon{
    flex-grow: 1;
    text-align: right;
    margin: 24px 32px;

}

.title{
    flex-grow: 3;
    text-align: left;
    margin: 24px 32px;

}


.header .title h1{
    font-size: 25px;
    font-weight: 400;
    color:var(--main-color);
    font-weight: 500;
}

.header .icon i {
    font-size: 18px;
    color:var(--main-color);
    margin-left: 16px;
    transition: color 0.1s;
}
.header .icon i:hover{
    color:var(--sub-color);
    cursor: pointer;
}

/* Flex Nav */
.nav-bar{
    background:var(--background-color) ;
    color:var(--main-color);
    min-height: 30px;
    position: sticky;
    top:0;
    list-style-type: none;
    z-index:1;
} 

.nav-bar{
    display:flex;
 
    align-items: center;
}
.nav-item, .nav-icon{
    text-align: center;
    
    width: 100px;
    
    text-align: center;
    line-height: 30px;
    
}
.nav-bar .nav-item {
    flex-grow: 3;
    font-size: 12px;
}

.nav-bar .nav-icon{
    flex-grow:1;
    width: 35px;
    font-size: 18px;

}
.nav-bar .active{
    border-bottom: var(--main-color) solid 2px;
}
.nav-bar div{
    border-bottom: var(--background-color) solid 2px;
}

/* Flex Message */

.container-message{
    height: 720px;
    background-color: white;
    overflow: auto;
}

.container-message .item-message{
    display: flex;
    align-items: center;
    background:var(--item-message-color);

}

.container-message .item-message:hover{
    background:var(--item-hover-message-color);
}

.container-message .item-message img{
    max-width: 50px;
    border-radius: 100%;
    flex-grow: 1;
    padding:12px;
}

.container-message .item-message p{
    flex-grow:1;
    font-size: 12px;
    font-weight: 500;
    color:var(--icon-viewed);
    text-align: right;
    padding-right: 32px;
}

.container-message .item-message .message-detail{
    flex-grow:3;
    padding-left: 12px;

}

.container-message .item-message .message-detail h1{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    color:var(--text-color);
}
.container-message .item-message .message-detail span{
    flex-grow:1;
    font-size: 14px;
    font-weight: 400;
    color:var(--icon-viewed);
    text-align: left;
    margin-left: 4px;
}

.container-message .message-received i{
    color: var(--icon-received);
}

.container-message .message-viewed i{
    color:var(--icon-viewed);
}
.container-message .audio-viewed i{
    color: var(--icon-received);
}
.container-message .audio-received i{
    color:var(--icon-viewed);
}

.container-message .video-viewed i{
    color: var(--icon-received);
}
.container-message .video-received i{
    color:var(--icon-viewed);
}

.container-message .message-new i{
    color: rgb(6,172,158);
    position: relative;
    font-size: 22px;
    margin-top: 8px;
}
.container-message .message-new i:after{
    font-size: 12px; /* ajuste o tamanho do texto aqui */
    top: 6px; /* ajusta no centro e vertical */
    content: attr(data-qtd); /*pega o valor do atributo */
	font-family: 'Roboto', sans-serif;

    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

#checkbox_theme{
    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }